body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg: rgba(220, 220, 220, 0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 20px;

  /* background-color:black; */
}
::-webkit-scrollbar-track {
  width: 20px;

  /* background-color: black; */
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-clip: content-box;
  border: 4px solid transparent;

  background-color: black;
}
